@charset "utf-8";


/*通常*/
h2 {
font-size: 10.0rem;
text-align: center;
color: #fff;
padding: 0 100px;
}
.ch {
font-size: 10.0rem;
padding: 100px;
width: 100%;
max-width: 1920px;  
margin: 0 auto;
color: #fff;
font-family: 'Zen Old Mincho', serif;
}
main {
width: 100%;
max-width: 1920px;
margin: 0 auto;
}
.images {
display: flex;
align-items: center;
}
.images img{
padding: 100px 50px 100px 100px;
}
.article {
font-size: 2.4rem;
line-height: 2.0em;
padding: 100px 100px 100px 50px;
color: #fff;
}

/*---------------------------------*/


/* メインビジュアル */
.wrapper {
margin: 0 auto;
width: 100%;
}
.mv { 
width: 100%;
max-width: 1920px;
margin: 0 auto;
mask-image: url(../images/logo.svg); 
mask-repeat: no-repeat;
mask-size: contain;
mask-position: center;
-webkit-mask-image: url(../images/logo.svg);
-webkit-mask-repeat: no-repeat;
-webkit-mask-size: contain;
-webkit-mask-position: center;
}

/*---------------------------------*/

/* テキストスクロール */
/*
右から左へ
----------------------------*/
@keyframes infinity-scroll-left {
from {
transform: translateX(0);
}
to {
transform: translateX(-100%);
}
}

/*
IE11対策
----------------------------*/
_:-ms-lang(x)::-ms-backdrop,
.d-demo {
display: -ms-grid;
overflow: hidden;
}
/*----------------------------*/

.d-demo__wrap {
display: flex;
overflow: hidden;
}
.d-demo__wrap ul li {
padding: 0 30px;
}
.d-demo__list {
display: flex;
list-style: none;
}

.d-demo__list--left{
animation :infinity-scroll-left 30s infinite linear 1.0s both;
}

.d-demo__item {
width: calc(100vw / 6);
}
.d-demo__item > img{
width: 100%;
} 
.line1 {
padding: 100px 0;
}
.line2 {
padding: 100px 0;
}


@media screen and (max-width:1200px) {
.ch {
	font-size: 7.0rem;
	padding: 50px;
}
.images {
	width: 100%;
	max-width: 1210px;
	margin: 0 auto;
	display: block;
}
.images img{
padding: 100px 100px 50px;
width: 100%;
max-width: 1920px;
margin: 0 auto;
}
.article {
padding: 50px 100px 100px 100px;
}
}
@media screen and (max-width:760px) {
	.ch {
	font-size: 4.5rem;
	padding: 40px;
}
.images img{
	padding: 50px;
	}
}
@media screen and (max-width:550px) {
	.ch {
	font-size: 3.0rem;
	padding: 20px;
}
.images img{
	padding: 20px;
	}
	.article {
		font-size: 1.8rem;
		line-height: 2.0em;
		padding: 20px;

		}
}
